.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 1rem 0;
  padding: 0;
  flex-wrap: nowrap;

  &__item {
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid transparent;
    font-weight: 700;
    color: grey;

    &:hover {
      color: black;
    }
  }
  &__item_disabled {
    color: lightgrey;
    cursor: default;

    &:hover {
      color: lightgrey;
      cursor: default;
    }
  }

  &__page {
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 700;
    margin: 5px 15px;
    color: black;
  }

  &__page_current {
    cursor: default;
    background: lightgray;
    color: white;
  }
}
