@import '../../vars';

.cart {
  min-height: calc(100vh - 170px);
  padding: 20px 0 40px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-family: $playfair;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__longLine, &__shortLine {
    display: inline-block;
    height: 2px;
    background-color: $primary_dark;
  }

  &__longLine {
    width: 225px;
    margin-bottom: 5px;
  }

  &__shortLine {
    width: 82px;
  }

  &__message {
    margin-top: 60px;
  }

  &__total {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: $primary_200;
    flex-direction: row;
    justify-content: space-between;

    span {
      padding-right: 40px;
      padding-left: 60px;
      font-size: 18px;
      font-weight: bold;
    }
  }

  &__btnCheckout {
    padding: 20px;
    margin: 50px 0;
    color: $primary_light;
    background-color: $secondary;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
}

.cartTableHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  margin-top: 60px;
  border-bottom: 2px solid $primary_dark;
  text-align: center;

  &__product {
    flex-basis: 60%;
  }

  &__quantity {
    flex-basis: 20%;
  }

  &__price {
    flex-basis: 20%;
  }
}

@media (max-width: 480px) {

  .cart {
    margin-top: 88px;

    &__title {
      font-size: 35px;
    }
  }
}