@import '../../../../vars';

.search {
  flex: 1 1 0;
  display: flex;
  flex-wrap: nowrap;

  position: relative;
  max-width: 100px;
  width: 100%;
  border: 1px solid lightgrey;
  outline: none;
  box-sizing: border-box;
  border-radius: 24px;
  transition: max-width 0.4s;

  &_focused {
    max-width: 300px;
  }

  &_withHints {
    border-radius: 24px 24px 0 0;
  }

  &__input {
    flex: 1 1;
    width: 100%;
    font-size: 1rem;
    outline: none;
    height: 48px;
    background: transparent;
    border: none;
    padding: 0 0 0 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: $text;
    &::placeholder {
      font-size: 0.875rem;
      font-style: italic;
    }
  }
  &__button {
    flex: 0 0 48px;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
    margin: 0;
  }
  &__hintsBox {
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    list-style: none;
    margin: -1px  0 0 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    background: white;
    z-index: 2;
    border-radius: 0 0 24px 24px;
    overflow: hidden;
    font-family: $text;
  }
  &__hints {
    overflow: auto;
    max-height: 100px;
  }
  &__hint {
    margin: 0;
    padding: 10px 10px 10px 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: background 0.2s;
    cursor: pointer;
    &:hover {
      background: #ededed;
    }
  }

  /*&__switch {
    flex: 0 0 48px;
    order: 2;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
    margin: 0;
  }
  &__form {
    flex: 1 1 auto;
    order: 1;
    display: flex;
    justify-content: flex-end;
  }

  .searchForm {
    display: none;
    width: 100%;
    max-width: 400px;
    position: relative;

    &.open {
      display: flex;
      //justify-content: center;
    }

    &:focus,
    &:active {
      outline-style: none;
    }

    &__searchInput {
      display: block;
      border: 1px solid $primary;
      height: 38px;
      border-radius: 19px;
      padding-left: 16px;
      padding-right: 40px;
      box-sizing: border-box;
      color: #2d2d2d;
      position: relative;
      width: 100%;

      &:focus,
      &:active {
        outline-style: none;
      }
    }

    &__btn {
      border: none;
      background-color: transparent;
      position: absolute;
      right: 10px;
      top: 5px;
      padding: 0;
      cursor: pointer;
      height: 20px;

      &:focus,
      &:active {
        outline-style: none;
      }
    }

    &__icon {
      font-size: 20px;
      color: #737373;
      width: 26px;
      height: 26px;
      font-family: $text;
    }
  }*/
}

input[type=search] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

@media (max-width: 850px) {
  .searchForm {
    width: 300px;
  }
}

@media (max-width: 730px) {

  .search {

    .searchForm {
      background-color: #eee;
      position: fixed;
      top: 80px;
      left: 0;
      height: 100vh;
      width: 100vw;
      padding: 18px 10px;
      box-sizing: border-box;
      margin-right: 0px;
      z-index: 1;
      max-width: 100%;
    }
  }
}

/*	&__clean {
		position: relative;
		right: 51px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			bottom: 14px;
			height: 12px;
			width: 2px;
			background-color: #333;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}*/


