@import '../../../../vars';

.search {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position:relative;


	&__switch {
		flex: 0 0 48px;
		order:2;
		padding:0;
		border:0;
		outline:0;
		background: transparent;
		cursor: pointer;
		margin:0;
	}
	&__form{
		flex: 1 1 auto;
		order:1;
		display: flex;
		justify-content: flex-end;
	}




	.searchForm {
		display: none;
		width: 100%;
		max-width:400px;
		position:relative;

		&.open {
			display: flex;
			//justify-content: center;
		}

		&:focus,
		&:active {
			outline-style: none;
		}

		&__searchInput {
			display:block;
			border: 1px solid $primary;
			height: 38px;
			border-radius: 19px;
			padding-left: 16px;
			padding-right: 40px;
			box-sizing: border-box;
			color: #2d2d2d;
			position: relative;
			width: 100%;

			&:focus,
			&:active {
				outline-style: none;
			}
		}


		&__btn {
			border: none;
			background-color: transparent;
			position: absolute;
			right: 10px;
			top: 5px;
			padding: 0;
			cursor: pointer;
			height: 20px;



			&:focus,
			&:active {
				outline-style: none;
			}
		}

		&__icon {
			font-size: 20px;
			color: #737373;
			width: 26px;
			height: 26px;
			font-family: $poppins;
		}
	}
}


input[type=search] {
	-moz-appearance: none;
	-webkit-appearance: none;
}

@media (max-width: 850px) {
	.searchForm {
		width: 300px;
	}
}

@media (max-width: 730px) {

	.search {

		.searchForm {
			background-color: #eee;
			position: fixed;
			top: 80px;
			left: 0;
			height: 100vh;
			width: 100vw;
			padding: 18px 10px;
			box-sizing: border-box;
			margin-right: 0px;
			z-index: 1;
			max-width:100%;
		}
	}
}

/*	&__clean {
		position: relative;
		right: 51px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			bottom: 14px;
			height: 12px;
			width: 2px;
			background-color: #333;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}*/


