@import '../../../../vars';

.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	right: 100px;

	&__link {
		display: flex;
		width: 26px;
		height: 26px;
		position: absolute;
		right: 0px;
	}

	&__searchIcon {
		display: block;
		color: $primary;
		font-size: 26px;
		cursor: pointer;

		&.hide {
			display: none;
		}
	}

	&__closeIcon {
		display: none;

		&.show {
			display: block;
			color: $primary;
			font-size: 26px;
			cursor: pointer;
		}
	}

	.searchForm {
		display: none;
		margin-right: 20px;
		width: 400px;

		&.open {
			display: flex;
			justify-content: center;
		}

		&:focus,
		&:active {
			outline-style: none;
		}

		&__searchInput {
			border: 1px solid $primary;
			height: 38px;
			border-radius: 19px/50%;
			padding-left: 16px;
			padding-right: 40px;
			box-sizing: border-box;
			color: #2d2d2d;
			position: relative;
			width: 100%;

			&:focus,
			&:active {
				outline-style: none;
			}
		}


		&__btn {
			border: none;
			background-color: transparent;
			position: relative;
			right: 34px;
			bottom: -5px;
			padding: 0px;
			cursor: pointer;
			height: 20px;

			&:focus,
			&:active {
				outline-style: none;
			}
		}

		&__icon {
			font-size: 20px;
			color: #737373;
			width: 26px;
			height: 26px;
			font-family: $poppins;
		}
	}
}


input[type=search] {
	-moz-appearance: none;
	-webkit-appearance: none;
}

@media (max-width: 850px) {
	.searchForm {
		width: 300px;
	}
}

@media (max-width: 730px) {

	.search {

		.searchForm {
			background-color: #eee;
			position: fixed;
			top: 80px;
			left: 0;
			height: 100vh;
			width: 100vw;
			padding: 18px 10px;
			box-sizing: border-box;
			margin-right: 0px;
			z-index: 1;
		}
	}
}

/*	&__clean {
		position: relative;
		right: 51px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			bottom: 14px;
			height: 12px;
			width: 2px;
			background-color: #333;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}*/


