@import '../../vars';

.productListEntry {
  display: flex;
  justify-content: center;
  margin-right: 1%;
  width: 19%;
  margin-bottom: 40px;

  &:nth-child(5n) {
    margin-right: 0%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: relative;
  }

  &__imgLink {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    overflow: hidden;
  }

  &__img {
    display: inline-block;
    max-width: 100%;
    transition: all .5s ease-out;

    &:hover,
    &:focus,
    &:active {
    	transform: scale(1.2);
    }
  }

  &__nameLink {
    margin-bottom: 15px;
    color: $primary_dark;
    font-size: 14px;
    line-height: 20px;
    font-family: $poppins;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__price {
    font-family: $poppins;
    color: $primary;
    font-size: 14px;
  }

  &__btn {
    position: absolute;
    bottom: 84px;
    right: 10px;
    display: flex;
    padding: 6px;
    border-radius: 50%;
    //background-color: $primary_200;
    background-color: #bdbdbd;
    //opacity: 0.3;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16);
    outline: none;

    &:hover .saveProductForLaterIcon {
      color: $secondary;
      fill: $secondary;
      //opacity: 1;
    }
  }

  .saveProductForLaterIcon {
    color: $primary_light;
  }

  //.saveProductForLaterIcon {
  //  color: $primary_light;
  //
  //  &:hover {
  //    color: $secondary;
  //    opacity: 0;
  //  }
  //}
}

@media (max-width: 980px) {

  .productListEntry {
    width: 47%;
    margin-right: 3%;

    &:nth-child(2n) {
      margin-right: 0%;
    }

    &__nameLink {
      font-size: 20px;
      line-height: 24px;
    }

    &__price {
      font-size: 20px;
    }

    &__btn {
      bottom: 104px;
      right: 20px;
    }

    .saveProductForLaterIcon {
      font-size: 40px;
    }
  }
}

@media (max-width: 560px) {

  .productListEntry {

    &__btn {
      bottom: 94px;
      right: 10px;
    }

    .saveProductForLaterIcon {
      font-size: 25px;
    }
  }
}

@media (max-width: 480px) {

  .productListEntry {
    &__nameLink {
      font-size: 14px;
    }

    &__price {
      font-size: 14px;
    }

    &__btn {
      bottom: 84px;
      right: 10px;
    }

    .saveProductForLaterIcon {
      font-size: 25px;
    }
  }
}




