.productListEntry {
	display: flex;
	justify-content: center;
	margin-right: 1%;
	width: 19%;
	margin-bottom: 67px;

	&:nth-child(5n) {
		margin-right: 0%;
	}
}

.productListEntryItem {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	position: relative;
}

.productListEntryItem__imgLink {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	overflow: hidden;
}

.productListEntryItem__img {
	display: inline-block;
	max-width: 100%;
	transition: all .5s ease-out;

	&:hover,
	&:focus,
	&:active {
		transform: scale(1.5);
	}
}

.productListEntryItem__nameLink {
	margin-bottom: 9px;
	color: #000000;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}

.productListEntryItem__price {
	font-family: 'Poppins', sans-serif;
	color: #979797;
	font-size: 14px;
}

.saveForLaterIcon {
	position: absolute;
	bottom: 133px;
	left: 10px;
	font-size: 25px;
}

.addProductToCartIcon {
	position: absolute;
	bottom: 96px;
	left: 10px;
	font-size: 25px;
}


@media (max-width: 980px) {

	.productListEntry {
		width: 47%;
		margin-right: 3%;

		&:nth-child(2n) {
			margin-right: 0%;
		}
	}

	.productListEntryItem__nameLink {
		font-size: 20px;
	}

	.productListEntryItem__price {
		font-size: 20px;
	}

	.saveForLaterIcon {
		bottom: 180px;
		left: 20px;
		font-size: 30px;
	}

	.addProductToCartIcon {
		bottom: 123px;
		left: 20px;
		font-size: 30px;
	}
}

@media (max-width: 560px) {

	.saveForLaterIcon {
		bottom: 156px;
		left: 10px;
	}

	.addProductToCartIcon {
		bottom: 114px;
		left: 10px;
	}
}


@media (max-width: 480px) {

	.productListEntryItem__nameLink {
		font-size: 14px;
	}

	.productListEntryItem__price {
		font-size: 14px;
	}

	.saveForLaterIcon {
		bottom: 124px;
		left: 10px;
		font-size: 20px;
	}

	.addProductToCartIcon {
		bottom: 92px;
		left: 10px;
		font-size: 20px;
	}
}