@import '../../vars';

.returns {
    font-family: $title;
    margin: 50px 10px 60px 10px;

    &__header {
        font-size: 40px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 2px solid $primary_dark;
        text-align: center;
        text-transform: uppercase;

        &_small {
            font-size: 24px;
            text-align: center;
            padding: 25px 0;
        }
    }

    &__content {
        text-align: justify;
        line-height: normal;
        padding-top: 10px;
        span {
            font-weight: bold;
            // text-decoration: underline;
        }
    }
}