@import '../../vars';

.profile{
    box-sizing: border-box;
    padding: 20px 0;
    &__titleWrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    &__title {
        font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
        text-align: center;
        margin-bottom: 30px;
        font-size: 80px;
    }
    &__longLine, &__shortLine {
        display: inline-block;
        height: 1px;
        background: #dbdbdb;
        margin: 0 auto;
    }
    &__longLine {
        width: 225px;
        margin-bottom: 5px;
    }
    &__shortLine {
        width: 82px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0 ;
    }
    &__text {
        margin: 5px 0
    }
    &__button{
        width: 160px;
	    padding: 15px;
	    color: #fff;
	    background: #000;
	    text-transform: uppercase;
	    outline: none;
	    border: none;
	    cursor: pointer;
	    margin: 10px 0;
        box-sizing: border-box;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .profile {
        margin-top: 88px;
    }
}