@import '../../vars';

.profile {
    min-height: calc(100vh - 170px);
    padding-bottom: 40px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        @include title;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;

        & a {
          color: $secondary;
          font-size: 13px;
          font-family: $text;
        }
    }

    &__text {
        font-family: $text;
    }

    &__button {
        width: 160px;
        padding: 12px 0;
        font-size: 15px;
        color: $primary_light;
        background: $primary_dark;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $navigation;
        outline: none;
        border: none;
        cursor: pointer;
        margin: 0 10px;
    }
}

@media (max-width: 480px) {

    .profile {
        margin-top: 108px;
    }
}