@import '../../vars';

.careers__wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.careers {
  font-family: $text;
  display: flex;
  flex-direction: row;

  &__title {
    @include title;
  }

  &__img {
    width: 100%;
  }

  &__values {
    font-size: 20px;
    line-height: 2;
  }

  &__cvButton {
    @include btn;
    text-align: center;
  }

  &__imgBlock {
    margin-top: 60px;
    width: 60%;
    height: auto;
    padding: 0 20px 20px 0;
    float: left;
  }

  &__description {
    width: 40%;
    padding: 0 20px 20px 40px;
    line-height: 2em;

    h2 {
      font-size: 26px;
      padding-bottom: 20px;
    }
  }

  &__list {
    margin-bottom: 40px;

    li {
      margin-left: 30px;
    }
  }

  &__vacancyTitle {
    font-size: 24px;
    padding-bottom: 25px;
  }

  &__vacancy {
    width: 100%;
    font-family: $text;
    line-height: normal;
    padding-top: 30px;
    border-bottom: 1px solid $primary_400;
    text-align: justify;
    padding-bottom: 60px;

    &:nth-last-child(1) {
      border-bottom: none;
    }

    ul {
      list-style-type: disc;
      margin-bottom: 40px;

      li {
        margin-left: 40px;
      }
    }
  }
}

.faCheck {
  margin-right: 15px;
}

.showText {
  font-weight: bold;
  padding: 5px 0;
  margin-bottom: 15px;

  &:hover {
    cursor: pointer;

  }
}

@media (max-width: 780px) {
  .careers {
    flex-direction: column;

    &__imgBlock {
      width: 100%;
      padding: 0;
    }

    &__img {
      width: 100%;
      margin-bottom: 20px;
    }

    &__vacancy {
      display: flex;
      flex-direction: column;
    }

    &__description {
      width: 100%;
      padding: 0;
    }
  }
}

@media (max-width: 480px) {
  .careers__title {
    margin: 100px 0 20px 0;
  }

  .careers__vacancy {
    justify-content: center;
    align-items: center;
  }

  .careers__description {
    width: 100%;
  }

  .careers__values {
    line-height: 1.5;
    font-size: 18px;
  }
}