@import '../../../../vars';

.tool {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background: transparent;

  &__icon {
    width: 26px;
    height: 26px;
    margin: 11px;
    transition: color .4s;
    color: $primary;
  }

  //&:hover {
  //  & .tool__icon {
  //    color: $secondary;
  //  }
  //  & .tool__quantity {
  //    background-color: $secondary;
  //  }
  //}

  &_disabled {
    //opacity: .3;

    & .tool__icon {
      color: $primary;
    }

    &:hover {

      & .tool_icon {
        color: $primary;
      }
    }
  }
}
