@import '../../vars';

.socMedia {
	display: flex;
	align-items: center;
	margin-top: 60px;


	&__icon {
		margin-right: 10px;
		color: $primary_light;
		font-size: 22px;

		&:last-child {
			margin-right: 0px;
		}

		&:hover,
		&:focus {
			color: $secondary_dark;
		}
	}
}

@media screen and (max-width: 768px) {
	.socMedia {
		margin-top: 5px;
		display: block;
	}
}