@import '../../vars';

.socMedia {
	display: flex;
	align-items: center;
	justify-content: center;

	&__icon {
		margin-right: 45px;
		color: $primary;
		font-size: 25px;

		&:last-child {
			margin-right: 0px;
		}

		&:hover,
		&:focus {
			color: $primary_dark;
		}
	}
}