@import '../../vars';

.saveProductForLaterIcon {
	color: $primary;
	cursor: pointer;
	font-size: 25px;

	&:hover,
	&:active,
	&:focus {
      color: $secondary;
      fill: $secondary;
	}

	& .saved {
      color: $secondary;
      fill: $secondary;
	}
}