.ordersHistory {
    padding: 30px 0;
    box-sizing: border-box;
    &__title {
        text-align: center;
        margin-bottom: 30px;
        font-size: 50px;
    }
    &__wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
    &__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #eee;
        margin-bottom: 10px;
        padding: 10px;
        box-sizing: border-box
    }
    &__cardInfoField {
        margin-bottom: 5px;
    }
    &__cardInfoFieldStrong {
        font-style: bold;
        color: navy;
    }
}