.ordersHistory {
    padding: 30px 0;
    box-sizing: border-box;
    &__titleWrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    &__title {
        font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
        text-align: center;
        margin-bottom: 30px;
        font-size: 80px;
    }
    &__longLine, &__shortLine {
        display: inline-block;
        height: 1px;
        background: #dbdbdb;
        margin: 0 auto;
    }
    &__longLine {
        width: 225px;
        margin-bottom: 5px;
    }
    &__shortLine {
        width: 82px;
    }
    &__wrapper {
        max-width: 600px;
        min-height: 70vh;
        margin: 0 auto;
    }
    &__cardInfo {
        min-width: 260px;
        margin-right: 10px;
    }
    &__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #eee;
        margin-bottom: 10px;
        padding: 10px;
        box-sizing: border-box
    }
    &__cardInfoField {
        margin-bottom: 5px;
    }
    &__cardInfoFieldStrong {
        color: #e95252;
    }
}

@media (max-width: 480px) {
    .ordersHistory {
        margin-top: 88px;
    }
}