@import '../../vars';

.ordersHistory {

    min-height: calc(100vh - 170px);
    padding: 20px 0 40px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: $playfair;
        font-size: 45px;
        text-align: center;
        margin-bottom: 20px;
    }

    &__longLine, &__shortLine {
        display: inline-block;
        height: 2px;
        background-color: $primary_dark;
    }

    &__longLine {
        width: 225px;
        margin-bottom: 5px;
    }

    &__shortLine {
        width: 82px;
    }

    &__wrapper {
        margin-top: 60px;
        //max-width: 600px;
        //min-height: 70vh;
        //margin: 0 auto;
    }

    &__cardInfo {
        min-width: 260px;
        margin-right: 20px;
    }

    &__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background: $primary_200;
        margin-bottom: 10px;
        padding: 20px;
        box-sizing: border-box
    }

    &__cardInfoField {
        margin-bottom: 10px;
    }

    &__cardInfoFieldStrong {
        color: $secondary;
    }


}

@media (max-width: 480px) {

    .ordersHistory {
        margin-top: 88px;

        &__title {
            font-size: 35px;
        }

        &__cardInfo {
          margin-right: 0px;
        }
    }
}