@import '../../vars';

.product {
  min-height: calc(100vh - 170px);
  padding-bottom: 20px;

  &__content {
    display: flex;
    justify-content: center;
  }

  .imageSlider__container {
    margin-right: 20px;
    width: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__name {
    font-family: $poppins;
    color: $primary_dark;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .starRating {
    margin-bottom: 30px;
  }

  &__price {
    font-family: $primary_dark;
    color: $secondary;
    font-size: 25px;
    margin-bottom: 30px;
  }

  &__buy {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $secondary;
    box-sizing: border-box;
    background-color: $secondary;
    width: 160px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    color: $primary_light;
    font-family: $oswald;
    font-weight: bold;
    margin-right: 30px;
    outline: none;


    &:hover {
      background-color: $secondary_dark;
      border: 2px solid transparent;
    }

    &:hover .addProductToCartIcon {
      color: $primary_light;
    }
  }

  &__save {
    display: flex;
    outline: none;
    padding: 5px;
    background-color: transparent;
    border: none;
  }

  .addProductToCartIcon {
    color: $primary_light;
    font-size: 25px;
    margin-right: 20px;
  }

  .saveProductForLaterIcon {
    position: inherit;
    color: $secondary;

    &:hover,
    &:active,
    &:focus {
      fill: $secondary;
    }

    &_saved {
      color: $secondary;
      fill: $secondary;
      animation-name: heartBeat;
      animation-duration: .8s;
      animation-timing-function: ease-in-out;
    }

      @keyframes heartBeat {
        0%, 100% {
          -webkit-transform: scale(1);
          transform: scale(1);
        }

        50% {
          -webkit-transform: scale(1.3);
          transform: scale(1.3);
        }

        //14% {
        //  -webkit-transform: scale(1.3);
        //  transform: scale(1.3);
        //}
        //
        //28% {
        //  -webkit-transform: scale(1);
        //  transform: scale(1);
        //}
        //
        //42% {
        //  -webkit-transform: scale(1.3);
        //  transform: scale(1.3);
        //}
        //
        //70% {
        //  -webkit-transform: scale(1);
        //  transform: scale(1);
        //}
      }
    }

  &__description {
    font-family: $poppins;
    color: $primary;
    font-size: 14px;
    line-height: 24px;
    width: 400px;
    text-align: justify;
  }
}

@media (max-width: 980px) {

  .product {

    &__content {
      flex-wrap: wrap;
    }

    .imageSlider__container {
      margin-right: 0px;
      margin-bottom: 20px;
      width: 100%;
      flex-wrap: wrap;
    }

    &__info {
      align-items: center;
      width: 100%;
    }

    &__name {
      text-align: center;
    }

    .addProductToCartIcon {
      font-size: 25px;
    }

    .saveProductForLaterIcon {
      font-size: 30px;
    }

    &__description {
      font-size: 16px;
      width: 60%;
    }
  }
}



@media (max-width: 480px) {

  .product {
    padding-top: 108px;

    .saveProductForLaterIcon {
      font-size: 25px;
    }

    &__name {
      font-size: 25px;
      line-height: 35px;
    }

    &__description {
      font-size: 14px;
    }
  }
}