@import '../../vars';

.product {
	padding-bottom: 20px;

	&__content {
		display: flex;
		justify-content: center;
	}

	.productSlider {
		//margin-right: 30px;
		display: flex;
		justify-content: center;
		//flex-direction: column;
		width: 50%;

		.productSliderContent {

			&__mainImg {
				margin-bottom: 10px;
				//width: 51%;
				//width: 75%;
				//height: 400px;
				//width: 300px;
			}

			&__smImg {
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}

			&__img {
				margin-right: 10px;
				//width: 16%;
				//width: 24%;
				//width: 93px;
				//height: 115px;

				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}


	&__info {
		display: flex;
		flex-direction: column;
	}

	&__name {
		font-family: $poppins;
		color: $primary_dark;
		font-size: 30px;
		margin-bottom: 20px;
	}

	.starRating {
		margin-bottom: 40px;
	}

	&__price {
		font-family: $primary_dark;
		color: $secondary;
		font-size: 25px;
		margin-bottom: 40px;
	}

	&__buy {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid $secondary;
		box-sizing: border-box;
		background-color: $primary_light;
		padding: 10px 20px;
		cursor: pointer;
		text-transform: uppercase;
		color: $secondary;
		font-family: $oswald;
		font-weight: bold;
		margin-right: 25px;


		&:hover {
			background-color: $secondary;
			border: 2px solid transparent;
			color: $primary_light;
		}

		&:hover .addProductToCartIcon {
			color: $primary_light;
		}
	}

	.addProductToCartIcon {
		color: $secondary;
		font-size: 25px;
		margin-right: 20px;
	}

	.saveProductForLaterIcon {
		position: inherit;
	}

	&__description {
		font-family: $poppins;
		color: $primary;
		font-size: 14px;
		line-height: 24px;
		width: 400px;
	}
}

@media (max-width: 980px) {

	.product {

		&__content {
			flex-wrap: wrap;
		}

		.productSlider {
			margin-right: 0px;
		}

		&__name {
			font-size: 30px;
		}

		&__price {
			font-size: 25px;
		}

		&__btn {
			padding: 10px 20px;
			margin-right: 25px;
		}

		.addProductToCartIcon {
			font-size: 25px;
			margin-right: 20px;
		}

		.saveProductForLaterIcon {
			font-size: 40px;
		}

		&__description {
			font-size: 14px;
			line-height: 24px;
			width: 100%;
		}
	}
}

@media (max-width: 480px) {

	.productListEntry {

		.saveProductForLaterIcon {
			font-size: 25px;
		}
	}
}










