@import '../../vars';

.product {
  padding-bottom: 20px;

  &__content {
    display: flex;
    justify-content: center;
  }

  .imageSlider__container {
    margin-right: 20px;
    width: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__name {
    font-family: $poppins;
    color: $primary_dark;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  .starRating {
    margin-bottom: 30px;
  }

  &__price {
    font-family: $primary_dark;
    color: $secondary;
    font-size: 25px;
    margin-bottom: 30px;
  }

  &__buy {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $secondary;
    box-sizing: border-box;
    background-color: $primary_light;
    width: 160px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    color: $secondary;
    font-family: $oswald;
    font-weight: bold;
    margin-right: 10px;


    &:hover {
      background-color: $secondary;
      border: 2px solid transparent;
      color: $primary_light;
    }

    &:hover .addProductToCartIcon {
      color: $primary_light;
    }
  }


  &__save {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $primary;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-color: $primary_light;
  }

  .addProductToCartIcon {
    color: $secondary;
    font-size: 25px;
    margin-right: 20px;
  }

  .saveProductForLaterIcon {
    position: inherit;
  }

  &__description {
    font-family: $poppins;
    color: $primary;
    font-size: 14px;
    line-height: 24px;
    width: 400px;
  }
}

@media (max-width: 980px) {

  .product {

    &__content {
      flex-wrap: wrap;
    }

    .imageSlider__container {
      margin-right: 0px;
      margin-bottom: 20px;
      width: 100%;
      flex-wrap: wrap;
    }

    &__info {
      align-items: center;
      width: 100%;
    }

    .addProductToCartIcon {
      font-size: 25px;
    }

    .saveProductForLaterIcon {
      font-size: 30px;
    }

    &__description {
      font-size: 16px;
      width: 60%;
    }
  }
}



@media (max-width: 480px) {

  .product {
    padding-top: 88px;

    .saveProductForLaterIcon {
      font-size: 25px;
    }

    &__name {
      font-size: 25px;
      line-height: 35px;
    }

    &__description {
      font-size: 14px;
    }
  }
}