.productItem {
    width: 25%;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    &::before {
        content: '$89';
        display: inline-block;
        position: absolute;
        top: 34px;
        left: 35px;
        color: #000000;
        font-size: 16px;
        z-index: 1;
    }

    &__link {
        display: flex;
        align-items: center;
        max-width: 100%;
    }

    &__img {
        display: inline-block;
        max-width: 100%;
        transition: all .5s ease-out;

        &:hover,
        &:focus,
        &:active {
            transform: scale(1.5);
        }
    }
}

@media (max-width: 992px) {

    .productItem {
        width: 50%;

        &::before {
            font-size: 25px;
        }
    }
}