@import '../../vars';

.checkout{
    &__titleWrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    &__title {
        font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
        text-align: center;
        margin-bottom: 30px;
        font-size: 80px;
    }
    &__longLine, &__shortLine {
        display: inline-block;
        height: 1px;
        background: #dbdbdb;
        margin: 0 auto;
    }
    &__longLine {
        width: 225px;
        margin-bottom: 5px;
    }
    &__shortLine {
        width: 82px;
    }
}

@media (max-width: 480px) {
    .checkout {
        margin-top: 88px;
    }
}