.productsList {

  min-height: calc(100vh - 170px);
  padding-bottom: 40px;

  &__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .productListEntry__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__loader {
    text-transform: uppercase;
    font-size: 20px;
  }
}

@media (max-width: 480px) {

  .productsList {
    margin-top: 108px;

    .productListHeader {
      margin-bottom: 2rem;

      &__title {
        margin-bottom: 20px;
      }

      &__subTitle {
        margin-bottom: 1.25em;
      }
    }
  }
}



