.productsList {

  min-height: calc(100vh - 170px);

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__loader {
    text-transform: uppercase;
    font-size: 20px;
  }
}

@media (max-width: 480px) {

  .productsList {
    padding-top: 108px;
  }
}



