.topMenu {
    display: flex;
    border-bottom: 2px solid #e8e8e8;
    padding: 0px 10px;

    .socmedia {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 60px;

        &__icon {
            height: 15px;
            margin-right: 23px;
            color: #000;

            :hover {
                color: #e8e8e8;
                cursor: pointer;
            }
        }
    }


    .topPanelMenu {
        list-style: none;
        display: flex;

        li {
            margin-left: 23px;
            display: flex;
            align-items: center;
            padding-left: 15px;
            border-left: 1px solid #e7e7e7;

            a {
                color: #9d9d9d;
            }

            button {
                border: none;
                background: transparent;
                font-size: 16px;
                color: #9d9d9d;
                cursor: pointer;
                outline: none;

            }

            input {
                border: none;
                width: 80px;
                outline: #9d9d9d;
                color: #9d9d9d;
            }

            ::placeholder {
                color: #9d9d9d;
                font-size: 16px;
            }

            :-ms-input-placeholder {
                color: #9d9d9d;
            }

            ::-ms-input-placeholder {
                color: #9d9d9d;
            }
        }

        &__icon {
            color: #acacac;
            height: 14px;
            padding-right: 10px;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10px;

    .navMenu {
        list-style-type: none;
        display: flex;
        margin-left: 90px;

        &__item {
            margin-right: 60px;
            text-transform: uppercase;
            padding: 10px 0;

            &:hover {
                border-bottom: 1px solid black;
                cursor: pointer;
            }
        }
    }

    .navBasket {
        font-size: 24px;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 480px) {

}
