.header {
	padding: 20px 0px 20px;
}

@media (max-width: 480px) {

	.header {
		position: fixed;
		top: 0px;
		background-color: #ffffff;
		width: 100%;
		z-index: 3;
		box-shadow: 1px -5px 14px 0;
	}
	
}

