.Checkbox__wrapper {
  display: inline-flex;
  cursor: pointer;
}

.Checkbox {
  width: 20px;
  height: 20px;
  border-radius: 20%;
  display: inline-block;
  box-shadow: inset 0 0 0 2px #e0e6ed;
  transition: -webkit-box-shadow 0.1s ease-in-out;
    
  &:after {
    transform: scale(0);
    background-size: 100%;
    content: '';
    transition-delay: 150ms;
    background: url('./img/tick.svg') center center no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    transition-timing-function: cubic-bezier(0, 0.89, 0.44, 1);
    transition-duration: 300ms;
    transition-property: all;
  }

  &.selected {
    box-shadow: inset 0 0 0 20px #000;
    opacity: 1;
  }

  &.selected:after {
    transform: scale(.75);
  }
}   

.label {
  padding-left: 10px;
}