@import '../../vars';

.footer {
  color: $primary_light;
  background-color: $primary_dark;
  padding: 20px 0px;
  height: 350px;


  &__logo {
    margin-bottom: 1rem;
  }

  .footer__content {
    display: flex;
    justify-content: space-between;
  }

  .footer__contacts {
    width: 35%;
    padding-left: 5%;

  }

  .footer__map {
    width: 65%;
  }

  .mainLogo {
    color: $primary_light;
    display: inline-flex;
    margin-bottom: 30px;
    font-size: 34px;
  }

  &__phone {
    margin: 20px 0;
    font-family: $poppins;
    font-size: 1rem;
    line-height: 1.5em;

    & a {
      color: $primary_light;
    }
  }

  &__address {
    font-family: $poppins;
    font-size: 1rem;
    line-height: 1.5em;
    padding: 10px 0;
  }

  &__email {
    font-family: $poppins;
    margin-bottom: 1.5rem;
    white-space: nowrap;

    & a {
      color: $primary_light;
    }

  }
}

.map {
  width: 50%;
}

.mapMarkerStyle {
  font-size: 40px;
  color: $primary_light;
}

.mapLabelStyle {
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  color: $primary_light;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 600px;


    .footer__content {
      flex-direction: column;
    }

    .footer__map {
      width: 100%;
    }

    &__phone {
      margin: 5px 0;
    }

    .footer__contacts {
      width: 100%;
      margin-left: 0;
      margin-top: 15px;
      text-align: center;
    }

    .mainLogo {
      font-size: 22px;
      margin-bottom: 5px;
    }

    .address {
      font-size: 16px;
      padding: 5px 0;
    }

    .email {
      margin-bottom: 15px;
    }
  }
}