@import '../../vars';

.footer {
    position: relative;
    background-color: $primary_200;
    padding: 40px 0px;

    .footer__content {
        background-color: white;
        width: 50%;
        position: absolute;
        top: 60px;
        right: 45px;
        z-index: 10;
        text-align: center;
    }

    .mainLogo__link {
        display: inline-flex;
        margin-bottom: 30px;
    }

    .phone {
        margin-bottom: 30px;

        &__link {
            color: $primary_dark;
        }
    }

    .email {
        margin-bottom: 30px;

        &__link {
            color: $primary_dark;
        }
    }
}

.mapMarkerStyle {
    font-size: 35px;
}

//@media (max-width: 480px) {
//    .footerMenu {
//        flex-direction: column;
//        text-align: center;
//        align-items: center;
//
//        &__item {
//            margin-bottom: 25px;
//            margin-right: 0px;
//
//            &:last-child {
//                margin-bottom: 0px;
//            }
//        }
//    }
//
//    .footer .footerMenu__item {
//        margin-right: 0px;
//    }
//}