@import '../../vars';

.resetPassword{
    min-height: calc(100vh - 170px);
    padding: 20px 0 40px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__message {
        text-align: center;
        margin: 50px 0;
    }

    &__title {
        font-family: $playfair;
        text-align: center;
        margin-bottom: 20px;
        font-size: 45px;
    }

    &__longLine, &__shortLine {
        display: inline-block;
        height: 2px;
        background-color: $primary_dark;
    }

    &__longLine {
        width: 225px;
        margin-bottom: 5px;
    }

    &__shortLine {
        width: 82px;
    }

    &__message {
        line-height: 25px;
    }
}

@media (max-width: 480px) {
    .resetPassword {
        margin-top: 88px;

		&__title {
			font-size: 35px;
		}
    }
}