@import '../../vars';

.resetPassword{
    height: 90vh;
    &__message {
        text-align: center;
        margin: 50px 0;
    }
}

@media (max-width: 480px) {
    .resetPassword {
        margin-top: 88px;
    }
}