.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 0;
    min-height: 440px;
    height: 85vh;

    &__title {
        font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
        font-size: 80px;
        text-align: center;
        margin-bottom: 36px;
    }

    &__longLine, &__shortLine{
        display: inline-block;
        height: 1px;
        background: #dbdbdb;
    }
    &__longLine{
        width: 225px;
        margin-bottom: 5px;
    }
    &__shortLine{
        width: 82px;
    }
    &__switchButtons {
        font-size: 14px;
        margin-top: 87px;
        margin-bottom: 43px;
    }
    &__loginButton, &__registerButton {
        font-family: "Oswald", sans-serif;
        font-size: 15px;
        padding: 0;
        outline: none;
        background: none;
        border: none;
        color: #c6c6c6;
        cursor: pointer;
    }
    &__switchButtons_active {
        color: #000;
        border-bottom: 2px solid #000;
    }
    &__info {
        font-size: 13px;
        color: rgba(133, 133, 133, 255);
        text-align: center;
    }
    &__socialButtons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;    
        margin-top: 50px;
        
    }
    &__socialButton{
        width: 165px;
        padding: 15px 0;
        border-radius: 30px;
        color: #fff;
        border: none;
        outline: none;
        text-transform: uppercase;
        padding-left: 5px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    &__socialButton_facebook{
        background-color: #325c94;
        margin-right: 10px;
    }
    &__socialButton_google{
        background-color: #ea3032;
    }
    &__socialButtonIcon {
        margin-right: 5px;
    }
}