@import '../../vars';

.account {
  min-height: calc(100vh - 170px);
  padding-bottom: 40px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @include title;
  }

  &__switchButtons {
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  &__loginButton, &__registerButton {
    font-family: $navigation;
    font-size: 25px;
    padding: 0;
    outline: none;
    background: none;
    border: none;
    color: $primary_400;
    cursor: pointer;
    text-transform: uppercase;
  }

  &__switchButtons_active {
    color: $primary_dark;
    border-bottom: 2px solid $primary_dark;
  }

  &__info {
    font-size: 13px;
    color: $primary;
    text-align: center;
    font-family: $navigation;
    line-height: 20px;

    & a {
        color: $secondary;
    }
  }

  .renderField {
    padding: 20px;

 }

  &__socialButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  &__socialButton {
    width: 165px;
    padding: 15px 0px 15px 5px;
    border-radius: 30px;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__socialButton_facebook {
    background-color: #325c94;
    margin-right: 10px;
  }

  &__socialButton_google {
    background-color: #ea3032;
  }

  &__socialButtonIcon {
    margin-right: 5px;
  }
}


@media (max-width: 480px) {

  .account {
    margin-top: 108px;

    &__switchButtons {
      font-size: 20px;
    }

    &__loginButton, &__registerButton {
      font-size: 20px;
    }
  }
}