.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 440px;
    height: 100vh;

    &-info {
        margin-top: 50px;
        font-size: 14px;
    }

    &-btn-block {
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
    }

    &-btn {
        width: 165px;
        margin-right: 10px;
        padding: 15px 0;
        border-radius: 30px;
        color: #fff;
        border: none;
        outline: none;
        text-transform: uppercase;
        padding-left: 5px;

        &__facebook {
            background-color: #325c94;
        }

        &__google {
            background-color: #ea3032;
        }
    }

    &-btn-icon {
        margin-right: 5px;
    }

    .form-login {
        width: 160px;
        padding: 15px;
        margin: 50px 0;
        color: #fff;
        background-color: #000;
        text-transform: uppercase;
        outline: none;
        border: none;
    }

    .form-input-block {
        display: flex;
        flex-wrap: wrap;
        width: 60%;

        .form-input {
            font-size: 14px;
            width: 45%;
            margin-right: 10px;
            border: none;
            outline: none;
            border-bottom: 2px solid #000;
            padding-left: 5px;
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }


}