@import '../../vars';

.account {
	padding: 20px 0;
	min-height: 440px;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__title {
		font-family: $playfair;
		font-size: 50px;
		text-align: center;
		margin-bottom: 20px;
	}

	&__longLine, &__shortLine {
		display: inline-block;
		height: 2px;
		background-color: $primary_dark;
	}

	&__longLine {
		width: 225px;
		margin-bottom: 5px;
	}

	&__shortLine {
		width: 82px;
	}

	&__switchButtons {
		font-size: 25px;
		margin-top: 60px;
		margin-bottom: 20px;
	}

	&__loginButton, &__registerButton {
		font-family: $oswald;
		font-size: 25px;
		padding: 0;
		outline: none;
		background: none;
		border: none;
		color: $primary_400;
		cursor: pointer;
		text-transform: uppercase;
	}

	&__switchButtons_active {
		color: $primary_dark;
		border-bottom: 2px solid $primary_dark;
	}

	&__info {
		font-size: 13px;
		color: $primary;
		text-align: center;
		font-family: $oswald;
		line-height: 20px;

		& a {
			color: $secondary_dark;
		}
	}

	&__socialButtons {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 50px;
	}

	&__socialButton {
		width: 165px;
		padding: 15px 0px 15px 5px;
		border-radius: 30px;
		color: #fff;
		border: none;
		outline: none;
		text-transform: uppercase;
		margin-bottom: 10px;
		cursor: pointer;
	}

	&__socialButton_facebook {
		background-color: #325c94;
		margin-right: 10px;
	}

	&__socialButton_google {
		background-color: #ea3032;
	}

	&__socialButtonIcon {
		margin-right: 5px;
	}
}

@media (max-width: 480px) {
	.account {
		margin-top: 88px;
	}
}