@import '../../../../vars';

.navbarIcons {
  display: flex;
  align-items: flex-end;
  &__button{
    background: transparent;
    outline: none;
    border: 0;
    padding: 0;
    cursor:pointer;
  }
  &__item {
    flex: 0 0 48px;
    margin-left: 0;
  }

  &__quantity {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    font-size: 12px;
    color: white;
    line-height: 20px;
    background-color: #737373;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

}



