.navbarIcons {
	display: flex;
	align-items: center;

	&__item {
		margin-right: 25px;

		&:last-child {
			margin-right: 0px;
		}
	}

	&__link {
		display: inline-flex;
		width: 26px;
		height: 26px;
	}

	&__icon {
		font-size: 26px;
		color: #737373;
		width: 100%;
		font-family: 'Poppins', sans-serif;
	}

	&__cartLink {
		position: relative;
	}

	.addProductToCartIcon {
		position: static;
	}
}

.productsQuantity {
	position: absolute;
	width: 60%;
	height: 43%;
	bottom: 5px;
	left: 5px;
	background-color: transparent;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	&__number {
		color: #737373;
		font-family: 'Poppins', sans-serif;
		font-size: 8px;
		font-weight: bold;
	}
}


