.NavbarIconsMenu {
    display: flex;
    align-items: center;

    &__item {
        margin-right: 25px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__link {
        display: inline-flex;
        width: 20px;
        height: 20px;
    }

    &__icon {
        font-size: 20px;
        color: #000000;
        width: 100%;
        font-family: 'Poppins', sans-serif;
    }
}
