@import '../../../vars';

.navbarMenu {
	border-top: 1px solid $primary_200;
	border-bottom: 1px solid $primary_200;
	padding: 17px 0px;
	background-color: $primary_200;

	.navbarNav {
		display: flex;
		justify-content: center;

		&__item {
			margin-right: 25px;

			&:last-child {
				margin-right: 0px;
			}
		}

		&__link {
			color: $primary_dark;
			text-transform: uppercase;
			position: relative;
			font-size: 14px;
			font-weight: bold;

			&:hover {
				color: #737373;
			}
		}
	}
}