@import 'reset';
@import 'vars';

body {
    font-family: $oswald;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
    padding: 0px 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.mainLogo {
    color: #000000;
    text-transform: uppercase;
}

*::selection {
    background-color: $primary_400;
}
