@import '../../../vars';

.renderForm{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
	
	&__title{
		text-align: center;
	}

	&__inputs {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 700px;
	}
	&__buttons{
		display: flex;
		justify-content: space-around;
	    margin-top: 50px;
	}
	&__btn{
		width: 160px;
	    padding: 15px;
	    color: #fff;
	    background: #000;
	    text-transform: uppercase;
	    outline: none;
	    border: none;
	    cursor: pointer;
	    margin: 0 10px;
	}
	&__message {
		text-align: center;
		height: 20px;
		margin: 10px 0;
	}
}
