@import '../../../vars';

.cartItem {
    font-family: $text;
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid $primary_dark;
    text-align: center;
    position: relative;

    &__close {
        flex-basis: 10%;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            color: $secondary;
            font-size: 1.15em;
        }
    }

    &__product {
        display: flex;
        flex-basis: 50%;
        text-align: left;
        align-items: center;
        padding: 10px 0;
        font-family: $text;
    }

    &__counter {
        flex-basis: 20%;

        &_box {
            width: 40px;
            padding: 5px;
            outline: none;
            border: 1px solid #e6e6e6;
            font-size: 16px;
            text-align: center;
        }
    }

    &__price {
      flex-basis: 20%;
    }

    &__img {
        width: 15%;
        height: auto;
    }

    &__title {
      color: $primary;
      padding-left: 15px;
      line-height: 25px;
    }
}

@media (max-width: 480px) {
  .cartItem {
    width: 100%;

      &__title {
          font-size: 14px;
      }
  }
}