.navbar {
	position: relative;
}

.mainLogo {
	font-size: 40px;
}

.navbarContainer {
	padding: 20px 0px 40px;
}

.navbarTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.navbarTopMainContent {
	display: flex;
	align-items: center;
}

.navBurger {
	display: none;
	width: 25px;
	height: 20px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	cursor: pointer;

	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: #333;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .15s ease-in-out;
		-moz-transition: .15s ease-in-out;
		-o-transition: .15s ease-in-out;
		transition: .15s ease-in-out;
	}

	& span:nth-child(1) {
		top: 0px;
	}

	& span:nth-child(2), & span:nth-child(3) {
		top: 8px;
	}

	& span:nth-child(4) {
		top: 16px;
	}

	&.open span:nth-child(1) {
		top: 18px;
		width: 0%;
		left: 50%;
	}

	&.open span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	&.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	&.open span:nth-child(4) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
}


.genderNav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 60px;
	margin-right: 25px;

	&__item {
		margin-right: 25px;

		&:last-child {
			margin-right: 0px;
		}
	}

	&__link {
		color: #000000;
		text-transform: uppercase;
		position: relative;
		font-weight: bold;
		font-size: 18px;

		&::after {
			content: "";
			background-color: #000000;
			width: 100%;
			height: 2px;
			position: absolute;
			bottom: -9px;
			left: 0px;
			visibility: hidden;
		}

		&:hover::after {
			visibility: visible;
		}

		&:hover {
			color: #000000;
		}
	}
}

.navbarMenuContent {
	display: flex;
	justify-content: center;
	background-color: #737373;
	padding: 17px;
}

.switchNav {
	display: none;
}

.navbarNav {
	display: flex;

	&__item {
		margin-right: 25px;

		&:last-child {
			margin-right: 0px;
		}
	}

	&__link {
		color: #ffffff;
		text-transform: uppercase;
		position: relative;
		font-size: 14px;
		font-weight: bold;

		&:hover {
			color: #d9d9d9;
		}
	}
}


@media (max-width: 480px) {

	.navbar {
		position: fixed;
		top: 0px;
		background-color: #ffffff;
		width: 100%;
	}

	.navbarContainer {
		padding-bottom: 20px;
	}

	.navbarTop {
		margin-bottom: 0px;
	}

	.navBurger {
		display: block;
		margin-right: 20px;
	}

	.genderNav {
		display: none;
	}

	.navbarMenuContent {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background-color: #ffffff;
		position: fixed;
		top: 79px;
		left: -3000px;
		transition: .4s;
		min-width: 320px;
		width: 30%;
		height: 100%;
		padding: 0px;
		z-index: 1;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.navbarNav__link {
		color: #000000;
	}

	.switchNav {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 20px 0px 20px;
		background-color: #737373;
		margin-bottom: 30px;

		&__item {
			margin-right: 100px;

			&:last-child {
				margin-right: 0px;
			}
		}

		&__link {
			color: #ffffff;
			text-transform: uppercase;
			position: relative;
			font-weight: bold;
			font-size: 18px;

			&:hover {
				color: #d9d9d9;
			}
		}
	}

	.navbarNav {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__item {
			margin-bottom: 50px;
			margin-right: 0px;
		}

		&__link {
			&::after {
				content: "";
				background-color: #000000;
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: -9px;
				left: 0px;
				visibility: hidden;
			}

			&:hover::after {
				visibility: visible;
			}

			&:hover {
				color: #000000;
			}
		}
	}
}
