@import '../../../vars';

.renderField  {
	display: flex;
	flex-direction: column;

    &__input{
        width: 100%;
        font-size: 16px;
        font-family: $oswald;
        border: none;
        outline: none;
        border-bottom: 2px solid $primary_dark;
    }

    &__error {
        color: $secondary;
        font-size: 13px;
        margin-top: 5px;
        min-height: 20px;
    }

}